@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dcdcdc;
  color: #2a2a2a;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-main {
  min-height: 85vh;
}

/* TITLE */
.title {
  text-align: center;
  padding: 2rem 0;
  gap: 0.5rem;
}

.title > h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.title > span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: lighter;
}

/* LAYOUT CARDS */
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  padding: 0 2rem;
  width: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
}
button {
  background: #2a2a2a;
  padding: 10px 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #dcdcdc;
  cursor: pointer;
}
.layout-cards {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #2a2a2a;
  border-radius: 5px;
  transition: all 0.3s linear;
  padding-bottom: 1rem;
  height: 90%;
}
.furniture {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: nowrap;
}
.map {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  margin-bottom: 20px;
}
.layout-cards > p {
  border-radius: 2px;
  background-color: #2a2a2a;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
  color: #dcdcdc;
}

.layout-dragging {
  background: #ffffff17;
  border: 2px dashed #ffffff8c;
}

/* SINGLE CARD */
.card-container {
  margin: 1rem 1rem 0 1rem;
  background-color: #8d8581;
  color: #dcdcdc;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
}
#one1,
#one2,
#one3 {
  width: 100px;
  height: 100px;
}
#two1,
#two2 {
  width: 200px;
  height: 100px;
}
#three {
  width: 200px;
  height: 200px;
}
#four {
  width: 200px;
  height: 100px;
}
#five {
  width: 300px;
  height: 100px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-container > p {
  font-weight: normal;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .layout-cards {
    overflow-y: scroll;
    height: 250px;
    min-height: 150px;
    max-height: 250px;
  }
}
